header {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 3px solid #ddd;
}


.cuerpo-principal{
    height: auto;
    text-align: center;
    
}


#logo{
    background-color: aqua;
}


#imagen-logo{

    height: 250px;
    width: auto;
    
}

#navegador{
    background-color: aqua;
    display: flex ;
    gap: 20px;
}

.proveedor img{
    height: auto;
    height: 300px;
}

h1{
   text-align: center;
   text-decoration: rgb(13, 192, 13);
   text-decoration-color: seagreen ;
}

h1::content{

   text-decoration: rgb(13, 192, 13);
   text-decoration-color: seagreen ;
}